<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Audio Manipulator Library">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="SOX_BINARY" value="sox" force="false"/>
    <env name="METAFLAC_BINARY" value="metaflac" force="false"/>
    <env name="MID3V2_BINARY" value="mid3v2" force="false"/>
    <env name="LAME_BINARY" value="lame" force="false"/>
    <env name="FFMPEG_BINARY" value="ffmpeg" force="false"/>
    <env name="ATOMIC_PARSLEY_BINARY" value="AtomicParsley" force="false"/>
  </php>
</phpunit>
